extends layout

block content
    
  div.title(align='center')
    h1 #{title} <hr>

  div.form
    form(id='forgotPassword', method='post')
      fieldset
        legend
          b
            i Type your email <br><br>

        div.data(style='float:left')
          div.email   
            Label Email: <br>
            input(name= 'email', type= 'text', size= 50,
            placeholder= 'Example:   my_name@mydomain.com')
            br
            br
          div.action
            input(id= 'submitButton', type= 'submit', value= 'Send Password')
            input(id= 'resetButton', type= 'submit', value= 'Reset')

        div.errors(align='left', style='color:#666600')
          if(notEmpty(errors))
            b Invalid input:
              ul
              each x in errors
                li #{x.msg}   
  br
  br
  div.homeButton
    a(href='/') 
      img(src='../images/home_button.gif', width='130', height='45')         